.content 
    border-bottom 1px solid #e9eaec
    margin-bottom 10px
    .left
        div
            margin-bottom: 10px
            .ql-container
                border none
            &.samples
                .each
                    padding 5px 10px
                    border-left 2px solid #2d8cf0
                    h5
                        font-size: 14px
                    pre
                        margin 5px 0
                        padding 5px
                        background-color: #f4faff
    .right
        .contributor
            padding 5px
            margin-bottom 5px
            font-size 14px
            span
                color #80848f
            a
                color #495060
                &:hover
                    color #5cadff
.editor
    .toolbar
        margin-bottom 5px
    #editor-container
        border 1px solid #dddee1
        border-radius 1px
        width 100%
        height 300px
    .submit
        margin-top 10px
        text-align right
.test_case
    .body
        margin-bottom 5px
        .line
            display: flex
            margin-bottom 5px
            .input
                flex 10
            .output
                flex 10
            .trash
                flex 2
                text-align center
                i
                    font-size 25px
                    line-height 32px
                    cursor pointer
            .space
                flex 1
.status
    margin-top 15px
    min-height 200px
    border 1px solid #dddee1
    position relative
    .icon-loading
        animation: ani-icon-loading 1s linear infinite;
    @keyframes ani-icon-loading
        from
            transform: rotate(0deg)
        50%
            transform: rotate(180deg)
        to
            transform: rotate(360deg)