.problem
    position: relative
    .header
        height: 36px
        line-height: 36px
        margin-bottom: 10px
        h1
            float: left
            margin-right: 5px
        .budget
            font-size: 13px
            padding: 4px 8px
            color: #fff
            background: red
            border-radius: 3px
        .tool
            float: right
    .tags
        margin-bottom: 10px
        font-size: 14px
        span
            color: #80848f
        a
            color: #495060
            &:after
                content: "/"
                margin: 0 3px
                color: #e0e0e0
            &:last-child:after
                content: ""
            &:hover
                color: #5cadff
    .content
        margin-top: 10px