#container
    .first
        border 1px solid #ddd
        box-shadow 1px 1px 30px #444444
        color white
        padding 13px 20px
        width 100%
        background url("/static/contestdetail1.jpg") no-repeat
        .contest-title
            font-size 33px
            text-align center
            border-bottom: 4px #ddd solid
            margin-bottom: 20px
        .slogan
            width 500px
            font-size 16px
            text-align center
            margin 0 auto 10px auto
        .start_time
            text-align center
            font-size 16px
            margin-bottom: 10px
        .button
            text-align: center
            button
                border-radius 5px
                padding 10px
                width 140px
                font-size 20px
                letter-spacing 2px
    .countdown
        border-radius 10px
        margin-top 10px
        text-align center
        font-size 38px
        background #EEEEEE
        height 65px
        padding-top 4px
    .description
        width 55%
        margin-top 50px
        border-right  #ddd 2px solid
        .des-body
            font-size 15px
            text-indent 2em
            margin-top 15px
            line-height 26px
    .mode
        margin-top 50px
        width 45%
        float right
        border-left 2px #ddd solid
        .contest-mode
            margin-top 40px
            font-size 18px
            padding-left 15px
        .mode-des
            font-size 15px
            padding-left 15px
            margin-top 30px
            p
                margin-bottom: 5px
    .mode-title,.des-title
        padding-left 10px
        font-size 20px
        font-weight bold
        color #ed3f14
        width 90px