#container
    .first
        border 1px solid #ddd
        margin-bottom: 10px
        box-shadow 1px 1px 30px #444444
        color white
        padding 13px 20px
        width 100%
        background url("/static/contestdetail1.jpg") no-repeat
        .contest-title
            font-size 33px
            text-align center
            border-bottom: 4px #ddd solid
            margin-bottom: 20px
        .slogan
            width 500px
            font-size 16px
            text-align center
            margin 0 auto 10px auto
        .start_time
            text-align center
            font-size 16px
            margin-bottom: 10px
        .button
            text-align: center
            button
                border-radius 5px
                padding 10px
                width 140px
                font-size 20px
                letter-spacing 2px
    .countdown
        margin-bottom 10px
        text-align center
        font-size 38px
    .info
        h3
            color #ed3f14