.dashboard
    .nav
        margin-bottom: 10px
        padding: 0 16px
        ul
            li
                font-size: 16px
                cursor pointer
                line-height: 50px
                display: inline-block
                margin-right: 20px
                &:hover
                    color: #5cadff
    .left
        .each
            margin-bottom: 10px
            a
                margin: 0 3px
            .img
                i
                    font-size: 35px
            .none-message
                text-align: center
                font-size: 15px
                color: #80848f
            .content
                font-size: 14px
                .time
                    color: #80848f
                    font-size: 12px
            .contest
                .img
                    margin-top: 11px
            .pager
                border-bottom: none
                text-align: center
    .right
        .user
            margin-bottom: 10px
            .avatar
                float: left
                margin-right: 10px
            .detail
                h3
                    a
                        color: #495060
                span
                    margin-right: 8px
                    font-size: 13px
        .announcements
            .announcement
                padding: 5px 10px
                font-size: 15px
                cursor: pointer
                &:hover
                    color: #1c2438
                    background: #f8f8f9
                span
                    font-weight: bold
                    margin-right: 5px
                    font-size: 18px
    .announcement-detail
        .time
            margin-bottom: 5px
        .content
            font-size: 14px
        

