.left
    .header
        margin-bottom: 10px
        height: 32px
        .sort
            div
                float: right
                font-size: 16px
                line-height: 32px
    .problems
        .page
            margin-top: 20px
            text-align: right
.right
    .random
        margin-bottom: 10px
    .tags
        .tag
            padding 3px 10px
            margin-right: 5px
            margin-bottom: 10px
            cursor: pointer
            border 1px solid #ccc
            transition: all .4s
            border-radius: 5px
            display inline-block
            &.active,&:hover
                color #333
                background-color #e6e6e6
                border-color #adadad
            .name
                color: #5a5a5a
            .number
                background: #17807d
                opacity: .85
                color: #fff
                padding: 1px 4px
                font-size: 10px
                border-radius: 3px