#container
    position: relative
    .title
        font-size 28px
        margin-bottom 30px
        border-bottom 1px #ddd solid
        text-align center
        padding-bottom 10px
        font-weight: 500
    .left
        .problem-table
            width 100%
            font-size 16px
            border 1px solid #DDD
            border-bottom: none
            .problem-head td
                background #f8f8f9
                height 30px
                padding-left 18px
            tbody td
                padding-left 18px
                height 34px
                padding-top 4px
                border-bottom 1px #ddd solid
            a
                color #657180
            a:hover
                color #2d8cf0
                text-decoration underline
    .right
        .each
            margin-bottom: 10px
            border-bottom: 1px solid #ddd
            padding-bottom: 10px
            .info
                i
                    font-size: 25px
                    margin-right: 8px
            .countdown
                width auto
                border-radius 10px
                margin-top 10px
                text-align center
                font-size 20px
                background #EEEEEE
                height 35px
                padding-top 4px
            .data
                display: flex
                padding: 5px 0
                .data-each
                    flex: 1
                    text-align: center
                    .num
                        font-size: 20px
                        display: block
                    .text
                        font-size: 15px
            .rank
                text-align center
                .update-time
                    margin-left: 5px
                    color: #80848f
        .info
            font-size 18px