.group
    .title
        line-height: 32px
        margin-bottom: 10px
        span 
            font-size: 20px
        .button
            float: right 
    .groups
        .none
            text-align: center
            font-size: 25px
            color: #80848f
        .each
            ul
                .li-title
                    font-weight: bold
                .datas
                    margin-top: 5px
                    display: flex
                    .data
                        flex: 1
                        text-align: center
                        .number
                            display: block
                            font-weight: bolder
                            font-size: 30px
                        .info
                            color: #80848f
                    