#container
    padding-top: 30px
    .left   
        .description         
            margin-bottom: 30px
            font-size: 16px
            .content
                .title
                    font-weight: bold
                    margin-right: 5px
        .join
            background url("/static/button_bg.jpg") no-repeat
            background-size: cover
            position: relative
            padding: 120px 0
            text-align: center
            .button
                text-align: center
                font-size: 20px
    .right
        .members
            font-size 14px
            border-radius 10px
            margin-bottom: 10px
            li
                border-bottom 1px #ddd solid
                height 45px
                line-height: 45px
                img
                    height: 30px
                    width: 30px
                    margin-top: 5px
                    margin-right: 10px
                a
                    color  #464c5b
                    vertical-align: top
                a:hover
                    text-decoration underline
                    color #2d8cf0