.container
    margin-top: -20px
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%)
    padding-bottom: 20px
    .header
        padding: 20px 0
        h1
            font-weight: 500
            font-size: 30px
        .info
            font-size: 15px
            color: #666
            
    #container
        .title
            text-align: center
            margin-bottom: 10px
            position: relative
            h1 
                display inline-block
                font-weight: 500
                margin-right: 10px
            .other
                position: absolute
                bottom: 5px
                right: 10px
                .leader
                    margin-right: 5px
                .create_time
                    color: #80848f
        .security
            text-align: center
            h2
                text-align: center
                color: #ff9900
                margin-bottom: 10px
            .password
                text-align: center
        .group
            .user
                .avatar
                    width: 100%
                    height: 100%
                    border-radius: 50%
                .right
                    position: relative
                    height 100%
                    .nickname
                        margin-bottom: 5px
                        a
                            font-size: 25px
                            color: #495060
                            margin-right: 5px
                        button
                            margin-top: -7px
                    .join-time
                        margin-bottom: 13px
                        color: #80848f
                    .data
                        .each
                            display: inline-block
                            margin-right: 10px
                            .number
                                font-size: 20px
                                display: block
                                text-align: center
                            .info
                                font-size: 15px
                                display: block
                                text-align: center
                    .quit
                        position: absolute
                        top: 5px
                        right 5px
                    .invite
                        position: absolute
                        bottom: 5px
                        right 5px
                        padding: 3px 5px
                        background: #01AAED
                        color: #fff
                        border-radius: 5px
            .divider
                border: none
                border-top: 1px solid #e9eaec
                margin 20px 0
            h4
                margin-bottom: 10px
            .contests
                li
                    margin-bottom: 5px
                    border-bottom: 1px solid #e9eaec
                    padding: 5px 0
                    a
                        margin-right: 5px
                        font-size: 17px
                    .badge
                        float: right
                    
