#container
    .groups
        .none
            text-align: center
            font-size: 20px
            color: #80848f
        .each
            ul
                .li-title
                    font-weight: bold
                .datas
                    margin-top: 5px
                    display: flex
                    .data
                        flex: 1
                        text-align: center
                        .number
                            display: block
                            font-weight: bolder
                            font-size: 30px
                        .info
                            color: #80848f
                    