.members
    .list
        li
            height: 50px
            border-bottom: 1px solid #e9eaec
            .avatar
                float left
                margin-top: 5px
            .info
                margin-left: 45px
                padding-top: 4px
                .data
                    span
                        color: #80848f
                        margin-right: 10px
                        font-size: 12px
    .user
        .info
            padding: 10px
            border-bottom: 1px solid #dddee1
            margin-bottom: 10px
            .avatar
                height 100px
                width: 100px
                border-radius: 50px
                float left
            .name
                display inline-block
                margin-left: 10px
                padding-top: 34px
                font-size: 20px
            .other
                margin-top: 10px
                margin-left: 110px
                span
                    margin-right: 10px
        .data
            h2
                font-weight: 500
                text-align: center
            .content
                display: flex
                .each
                    flex: 1
                